<header><h4>Kontrola stavu</h4></header>


<div class="schema">
    <svg class="kotelna" viewBox="0 0 600 340">
  
       <g>
          <text x="-1304.817" y="119.5685" fill="#000000" font-family="Impact" font-size="7.543px" font-weight="bold" letter-spacing="0px" stroke-width=".18858" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="-1304.817" y="127.11969" font-family="Impact" font-weight="bold" stroke-width=".18858"/></text>
          <rect x="106.69" y="11.36" width="30.022" height="54.028" fill="#d6b65d" style="paint-order:stroke fill markers"/>
          <path d="m136.86 177.69h16.135v-50.176h-17.119" fill="none" stroke="#222121" stroke-width="1.2866"/>
          <rect x="106.79" y="155.26" width="29.831" height="51.94" fill="#222121" style="paint-order:stroke fill markers"/>
          <path d="m174.24 123.18v15.938h50.766v-18.693" fill="none" stroke="#222121" stroke-width="1.2866"/>
          <rect transform="rotate(-90)" x="-124.12" y="215.74" width="29.582" height="58.18" fill="#222121" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-187.94" y="249.04" width="93.388" height="25.351" fill="#222121" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-124.25" y="133.94" width="29.831" height="53.127" fill="#222121" style="paint-order:stroke fill markers"/>
          <path d="m108.72 86.19h-19.874v-47.618h20.857" fill="none" stroke="#d6b65d" stroke-width="1.2866"/>
          <rect x="106.81" y="76.19" width="29.785" height="58.19" fill="#222121" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-166.45" y="102.59" width="34.802" height="37.182" fill="#bd0600" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-80.26" y="102.59" width="34.802" height="37.182" fill="#bd0600" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-127.09" y="181.29" width="34.802" height="37.182" fill="#bd0600" style="paint-order:stroke fill markers"/>
          <text x="110.66148" y="75.058159" fill="#ffffff" font-family="sans-serif" font-size="33.468px" letter-spacing="0px" stroke-width=".8367" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="110.66148" y="75.058159" fill="#ffffff" font-family="sans-serif" stroke-width=".8367">4</tspan></text>
          <text x="110.98832" y="161.46875" fill="#ffffff" font-family="sans-serif" font-size="33.468px" letter-spacing="0px" stroke-width=".8367" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="110.98832" y="161.46875" fill="#ffffff" font-family="sans-serif" stroke-width=".8367">2</tspan></text>
          <text x="189.30429" y="121.8718" fill="#ffffff" font-family="sans-serif" font-size="33.468px" letter-spacing="0px" stroke-width=".8367" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="189.30429" y="121.8718" fill="#ffffff" font-family="sans-serif" stroke-width=".8367">3</tspan></text>
          <rect transform="rotate(-90)" x="-156.3" y="146.29" width="14.5" height="15.492" fill="#028f24" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-69.52" y="81.953" width="14.5" height="15.492" fill="#bd0600" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(-90)" x="-144.1" y="190.96" width="14.5" height="15.492" fill="#028f24" style="paint-order:stroke fill markers"/>
          <text x="82.50322" y="66.353859" fill="#ffffff" font-family="sans-serif" font-size="11.219px" letter-spacing="0px" stroke-width=".28048" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="82.50322" y="66.353859" fill="#ffffff" font-family="sans-serif" stroke-width=".28048">04</tspan></text>
          <text x="147.09172" y="153.13388" fill="#ffffff" font-family="sans-serif" font-size="11.219px" letter-spacing="0px" stroke-width=".28048" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="147.09172" y="153.13388" fill="#ffffff" font-family="sans-serif" stroke-width=".28048">02</tspan></text>
          <text x="191.64943" y="140.93387" fill="#ffffff" font-family="sans-serif" font-size="11.219px" letter-spacing="0px" stroke-width=".28048" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="191.64943" y="140.93387" fill="#ffffff" font-family="sans-serif" stroke-width=".28048">03</tspan></text>
          <path d="m412.95 267.41v59.227" fill="none" stroke="#222121" stroke-width="1.2866"/>
          <path d="m487.13 301.3v-4.4856" fill="none" stroke="#222121" stroke-width="1.4613"/>
          <rect transform="rotate(90)" x="220.96" y="-498.94" width="76.353" height="25.351" fill="#222121" style="paint-order:stroke fill markers"/>
          <path d="m432.19 301.12v-4.4159" fill="none" stroke="#222121" stroke-width="1.4498"/>
          <rect x="249.04" y="271.97" width="249.9" height="25.351" fill="#222121" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(90)" x="187.94" y="-274.39" width="109.38" height="25.351" fill="#222121" style="paint-order:stroke fill markers"/>
          <rect x="241.96" y="187.71" width="39.479" height="34.247" fill="#bd0600" style="paint-order:stroke fill markers"/>
          <rect transform="rotate(90)" x="145.34" y="-498.94" width="44.28" height="25.351" fill="#d6b65d" style="paint-order:stroke fill markers"/>
          <rect x="467.06" y="187.71" width="39.479" height="34.247" fill="#bd0600" style="paint-order:stroke fill markers"/>
          <rect x="355.69" y="268.14" width="39.479" height="33.9" fill="#028f24" style="paint-order:stroke fill markers"/>
          <rect x="221.37" y="198.29" width="15.078" height="13.08" fill="#028f24" style="paint-order:stroke fill markers"/>
          <rect x="256.4" y="301.4" width="15.078" height="13.08" fill="#028f24" style="paint-order:stroke fill markers"/>
          <rect x="424.83" y="301.4" width="15.078" height="13.08" fill="#028f24" style="paint-order:stroke fill markers"/>
          <rect x="479.92" y="301.4" width="15.078" height="13.08" fill="#028f24" style="paint-order:stroke fill markers"/>
          <rect x="404.76" y="254.18" width="15.078" height="13.08" fill="#028f24" style="paint-order:stroke fill markers"/>
          <text x="251.24969" y="216.49026" fill="#ffffff" font-family="sans-serif" font-size="31.98px" letter-spacing="0px" stroke-width=".79951" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="251.24969" y="216.49026" fill="#ffffff" font-family="sans-serif" stroke-width=".79951">1</tspan></text>
          <text x="365.69019" y="296.95755" fill="#ffffff" font-family="sans-serif" font-size="31.98px" letter-spacing="0px" stroke-width=".79951" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="365.69019" y="296.95755" fill="#ffffff" font-family="sans-serif" stroke-width=".79951">2</tspan></text>
          <text x="476.69321" y="216.47466" fill="#ffffff" font-family="sans-serif" font-size="31.98px" letter-spacing="0px" stroke-width=".79951" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="476.69321" y="216.47466" fill="#ffffff" font-family="sans-serif" stroke-width=".79951">3</tspan></text>
          <text x="224.15825" y="210.0351" fill="#ffffff" font-family="sans-serif" font-size="14.28px" letter-spacing="0px" stroke-width=".35699" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="224.15825" y="210.0351" fill="#ffffff" font-family="sans-serif" stroke-width=".35699">E</tspan></text>
          <text x="259.06274" y="313.05661" fill="#ffffff" font-family="sans-serif" font-size="14.28px" letter-spacing="0px" stroke-width=".35699" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="259.06274" y="313.05661" fill="#ffffff" font-family="sans-serif" stroke-width=".35699">A</tspan></text>
          <text x="407.21005" y="265.92511" fill="#ffffff" font-family="sans-serif" font-size="14.28px" letter-spacing="0px" stroke-width=".35699" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="407.21005" y="265.92511" fill="#ffffff" font-family="sans-serif" stroke-width=".35699">B</tspan></text>
          <text x="427.37421" y="313.13812" fill="#ffffff" font-family="sans-serif" font-size="14.28px" letter-spacing="0px" stroke-width=".35699" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="427.37421" y="313.13812" fill="#ffffff" font-family="sans-serif" stroke-width=".35699">C</tspan></text>
          <text x="481.68674" y="313.05661" fill="#ffffff" font-family="sans-serif" font-size="14.28px" letter-spacing="0px" stroke-width=".35699" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="481.68674" y="313.05661" fill="#ffffff" font-family="sans-serif" stroke-width=".35699">D</tspan></text>
          <path d="m248.65 178.86h-20.857v18.89" fill="none" stroke="#222121" stroke-width="1.4353"/>
          <path d="m227.89 211.62v15.053h20.759" fill="none" stroke="#222121" stroke-width="1.4353"/>
          <path d="m264 326.83h251.08" fill="#04a5fe" stroke="#222121" stroke-width="1.2866"/>
          <path d="m432.43 314.43v12.396" fill="none" stroke="#222121" stroke-width="1.2866"/>
          <path d="m487.53 314.63v12.003" fill="none" stroke="#222121" stroke-width="1.2866"/>
          <path d="m264 327.46v-13.024" fill="none" stroke="#222121" stroke-width="1.3187"/>
          <path d="m264.39 301.29v-4.1679" fill="none" stroke="#222121" stroke-width="1.3193"/>
       </g>
            
        </svg>
  
</div>


<section class="text-section">

  <div class="text-content">
    <p>
        Průběžně kontrolujeme odvodňování a nahřívání RS3.
    </p>
  </div>

  <div class="text-content">
      <p>
          Na schématu vidíme trojče a RS3, zeleně jsou vyznačeny otevřené ochozy a odvodnění
          a tmavě potrubí, kterým prochází pára.
      </p>
    </div>

    <div class="text-content">
        <p>
            Pozor, u odvodňování RS3 jde pára do odpadního potrubí
            a musíme hlídat zde nedochází k vniknutí páry z odpadu
            do rozvaděčové skříně za vyhrnovačem kotle K5.
        </p>
      </div>

      <div class="text-content">
          <p>
              Případně přivřeme ventily odvodnění RS3 A, B, C, D.
            </p>
        </div>


</section>

<nav class="navBar">

    <div routerLink="../nahrati" class="zpet">
        <a class="backBtn">Zpět</a>
    </div>
    <div routerLink="../uzavrenipropojeni" class="dale">
        <a class="nextBtn">Dále</a>
    </div>
  
  </nav>