<header><h4>Odvodnění a nastavení RS3</h4></header>

<div class="popup" id="hint">
  <p>kliknutím na obrázek se animace přehraje znovu</p>
</div>

<div class="schema">
    <svg class="kotelna" viewBox="0 0 600 340"  (click)="repeat()">
  
        <g transform="translate(0,43)">
            <text x="-1304.817" y="76.568504" fill="#000000" font-family="Impact" font-size="7.543px" font-weight="bold" letter-spacing="0px" stroke-width=".18858" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="-1304.817" y="84.11969" font-family="Impact" font-weight="bold" stroke-width=".18858"/></text>
            <path d="m376 173.13v101.07" fill="none" stroke="#d6b65d" stroke-width="2.1955"/>
            <path d="m121.82 231.88v-9.9617" fill="none" stroke="#d6b65d" stroke-width="2.195"/>
            <path d="m504.23 220.97v11.232" fill="none" stroke="#d6b65d" stroke-width="2.195"/>
            <rect x="96.297" y="180.91" width="426.43" height="43.26" fill="#d6b65d" style="paint-order:stroke fill markers"/>
            <path d="m97.596 22.07h-37.51v33.217" fill="none" stroke="#d6b65d" stroke-width="2.195"/>
            <path d="m60.248 77.96v25.656h37.452" fill="none" stroke="#d6b65d" stroke-width="2.195"/>
            <rect transform="rotate(90)" x="-9.18" y="-139.56" width="233.35" height="43.26" fill="#d6b65d" style="paint-order:stroke fill markers"/>
            <rect transform="rotate(90)" x="-9.18" y="-522.73" width="233.35" height="43.26" fill="#d6b65d" style="paint-order:stroke fill markers"/>
            <rect id="R1" x="82.459" y="37.14" width="67.368" height="58.44" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <rect id="R3" x="467.46" y="37.14" width="67.368" height="58.44" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <rect id="R2" x="264.67" y="174.38" width="67.368" height="57.848" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <rect id="E" x="49.076" y="55.2" width="25.73" height="22.321" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <rect id="A" x="108.84" y="231.14" width="25.73" height="22.321" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <rect id="C" x="396.27" y="231.14" width="25.73" height="22.321" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <path d="m504.23 252.85v21.154" fill="none" stroke="#d6b65d" stroke-width="2.1955"/>
            <rect id="D" x="491.72" y="230.96" width="25.73" height="22.321" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <rect id="B" x="362.02" y="150.56" width="25.73" height="22.321" fill="#bd0600" style="paint-order:stroke fill markers"/>
            <text x="83" y="87.926468" fill="#ffffff" font-family="sans-serif" font-size="54.572px" letter-spacing="0px" stroke-width="1.3643" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="83" y="87.926468" fill="#ffffff" font-family="sans-serif" stroke-width="1.3643">R1</tspan></text>
            <text x="263" y="223.55531" fill="#ffffff" font-family="sans-serif" font-size="54.572px" letter-spacing="0px" stroke-width="1.3643" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="263" y="223.55531" fill="#ffffff" font-family="sans-serif" stroke-width="1.3643">R2</tspan></text>
            <text x="464.31693" y="86.224953" fill="#ffffff" font-family="sans-serif" font-size="54.572px" letter-spacing="0px" stroke-width="1.3643" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="464.31693" y="86.224953" fill="#ffffff" font-family="sans-serif" stroke-width="1.3643">R3</tspan></text>
            <text x="52.769066" y="74.929276" fill="#ffffff" font-family="sans-serif" font-size="24.368px" letter-spacing="0px" stroke-width=".60919" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="52.769066" y="74.929276" fill="#ffffff" font-family="sans-serif" stroke-width=".60919">E</tspan></text>
            <text x="113.40481" y="250.60936" fill="#ffffff" font-family="sans-serif" font-size="24.368px" letter-spacing="0px" stroke-width=".60919" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="113.40481" y="250.60936" fill="#ffffff" font-family="sans-serif" stroke-width=".60919">A</tspan></text>
            <text x="366.36737" y="170.59859" fill="#ffffff" font-family="sans-serif" font-size="24.368px" letter-spacing="0px" stroke-width=".60919" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="366.36737" y="170.59859" fill="#ffffff" font-family="sans-serif" stroke-width=".60919">B</tspan></text>
            <text x="400.29553" y="251.18393" fill="#ffffff" font-family="sans-serif" font-size="24.368px" letter-spacing="0px" stroke-width=".60919" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="400.29553" y="251.18393" fill="#ffffff" font-family="sans-serif" stroke-width=".60919">C</tspan></text>
            <text x="494.72382" y="250.99924" fill="#ffffff" font-family="sans-serif" font-size="24.368px" letter-spacing="0px" stroke-width=".60919" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="494.72382" y="250.99924" fill="#ffffff" font-family="sans-serif" stroke-width=".60919">D</tspan></text>
            <path d="m121.82 274.53h428.45" fill="none" stroke="#d6b65d" stroke-width="2.195"/>
            <path d="m409.24 253.38v21.154" fill="none" stroke="#d6b65d" stroke-width="2.1955"/>
            <path d="m504.58 245.27v-6.3098" fill="none"/>
            <path d="m408.82 230.72v-6.2118" fill="none"/>
            <path d="m121.82 275.84v-22.463" fill="none" stroke="#d6b65d" stroke-width="2.2624"/>
            <path d="m122.49 230.95v-7.1123" fill="none"/>
            </g>
        </svg>
  
</div>


<section class="text-section">

  <div class="text-content">
    <p>Provedeme vizuální kontrolu RS3, pokud je vše v pořádku pootevřeme všechny odvodňovací ventily. A, B, C, D.
    </p>
    <button (click)="showOrHide()" class="detail">{{buttonName}}</button>
  </div>
  <ng-container *ngIf="show">
    <img class="detailImg" src="/assets/RS.png">
  </ng-container>

  <div class="text-content">
      <p>Ručně pootevřeme automatický regulační ventil R2 a otevřeme ventil E = ochoz ventilu R1 .</p>
    </div>

    <div class="text-content">
        <p>Poté na panelu řízení automatického ventilu R2 přepneme přepínač do poloho A (automat) a na kolečku vycvakneme symbol ruky.</p>
      </div>

      <ng-container *ngIf="show">
        <img class="detailImg" src="/assets/ovlRedu.png">
      </ng-container>

      <div class="text-content">
          <p> Nakonec zapneme hlavní vypínač. RS3 se nezapne protože má ještě jeden vypínač před K5, který musí být vypnutý (kontrolka u vypínače nesvítí)</p> 
        </div>
        <ng-container *ngIf="show">
          <img class="detailImg" src="/assets/rsVyp.png">
        </ng-container>

</section>

<nav class="navBar">

    <div routerLink="../schema-kotelny" class="zpet">
        <a class="backBtn">Zpět</a>
    </div>
    <div routerLink="../nahrati" class="dale">
        <a class="nextBtn">Dále</a>
    </div>
  
  </nav>