<div class="menu" id="menuHide" >
    <div class="panel">
        <p class="panelText">RS3 manual</p>
    </div>
   
    <ul class="mItems">
        <li><a routerLink="/">Domů</a></li>
        <li><a routerLink="schema-kotelny"  routerLinkActive="active">schéma kotelny</a></li>
        <li><a routerLink="odvodneni" routerLinkActive="active" >odvodnění</a></li>
        <li><a routerLink="nahrati" routerLinkActive="active" >nahřátí</a></li>
        <li><a routerLink="kontrola-one" routerLinkActive="active" >kontrola stavu</a></li>
        <li><a routerLink="uzavrenipropojeni" routerLinkActive="active" >uzavření propojení</a></li>
        <li><a routerLink="otevreni-rs" routerLinkActive="active" >otevření RS3</a></li>
        <li> <a routerLink="uvedeni-do-provozu" routerLinkActive="active" >uvedení do provozu</a></li>
        <li> <a routerLink="kontrola-two" routerLinkActive="active" >kontrola</a></li>
        <li> <a routerLink="propojeni" routerLinkActive="active" >propojení K5+K3</a></li>
        <li><a routerLink="odpojeni" routerLinkActive="active" >odpojení K3</a></li>
        <li> <a routerLink="odpojenirs" routerLinkActive="active" >odpojení RS3</a></li>
        <li><a routerLink="odstavenirs" routerLinkActive="active" >odstavení RS3</a></li>
        <li><a routerLink="otevreni-propojeni" routerLinkActive="active" >otevření propojení</a> </li>
    
    </ul>
</div>
