<header><h4>Uvedení RS3 do provozu</h4></header>


<div class="schema">
    <svg class="kotelna" viewBox="0 0 600 340"  (click)="repeat()">
  
        <g>
<text x="-1304.817" y="119.5685" fill="#000000" font-family="Impact" font-size="7.543px" font-weight="bold" letter-spacing="0px" stroke-width=".18858" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="-1304.817" y="127.11969" font-family="Impact" font-weight="bold" stroke-width=".18858"/></text>
<rect id="topPipe" x="235.43" y="22.096" width="45.875" height="82.557" fill="#222121" style="paint-order:stroke fill markers"/>
<rect id="botPipe" x="235.58" y="241.98" width="45.583" height="79.366" fill="#222121" style="paint-order:stroke fill markers"/>
<rect id="midRR" transform="rotate(-90)" x="-194.59" y="401.87" width="45.583" height="43.579" fill="#222121" style="paint-order:stroke fill markers"/>
<rect id="midR" transform="rotate(-90)" x="-194.59" y="277.07" width="45.583" height="81.181" fill="#222121" style="paint-order:stroke fill markers"/>
<rect id="midPipe" x="235.61" y="121.15" width="45.513" height="88.918" fill="#222121" style="paint-order:stroke fill markers"/>
<path id="ochozPipeBot" d="m281.52 276.25h24.655v-76.671h-26.158" fill="none" stroke="#222121" stroke-width="1.966"/>
<rect id="V2" transform="rotate(-90)" x="-259.07" y="229.16" width="53.18" height="56.815" fill="#bd0600" style="paint-order:stroke fill markers"/>
<path id="ochozPipeTop" d="m238.53 136.44h-30.368v-72.762h31.871" fill="none" stroke="#d6b65d" stroke-width="1.966"/>
<rect id="V4" transform="rotate(-90)" x="-127.38" y="229.16" width="53.18" height="56.815" fill="#bd0600" style="paint-order:stroke fill markers"/>
<rect id="V3" transform="rotate(-90)" x="-198.94" y="349.43" width="53.18" height="56.815" fill="#bd0600" style="paint-order:stroke fill markers"/>
<text x="241.48634" y="119.43163" fill="#ffffff" font-family="sans-serif" font-size="51.14px" letter-spacing="0px" stroke-width="1.2785" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="241.48634" y="119.43163" fill="#ffffff" font-family="sans-serif" stroke-width="1.2785">4</tspan></text>
<text x="241.98575" y="251.46074" fill="#ffffff" font-family="sans-serif" font-size="51.14px" letter-spacing="0px" stroke-width="1.2785" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="241.98575" y="251.46074" fill="#ffffff" font-family="sans-serif" stroke-width="1.2785">2</tspan></text>
<path id="ochozPipeMid" d="m338.65 192.96v24.354h77.573v-28.564" fill="none" stroke="#222121" stroke-width="1.966"/>
<text x="361.66898" y="190.96866" fill="#ffffff" font-family="sans-serif" font-size="51.14px" letter-spacing="0px" stroke-width="1.2785" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="361.66898" y="190.96866" fill="#ffffff" font-family="sans-serif" stroke-width="1.2785">3</tspan></text>
<rect id="ochoz2" transform="rotate(-90)" x="-243.56" y="295.94" width="22.157" height="23.672" fill="#028F24" style="paint-order:stroke fill markers"/>
<rect id="ochoz4" transform="rotate(-90)" x="-110.97" y="197.6" width="22.157" height="23.672" fill="#bd0600" style="paint-order:stroke fill markers"/>
<rect id="ochoz3" transform="rotate(-90)" x="-224.92" y="364.19" width="22.157" height="23.672" fill="#028F24" style="paint-order:stroke fill markers"/>
<text x="198.44055" y="106.13015" fill="#ffffff" font-family="sans-serif" font-size="17.144px" letter-spacing="0px" stroke-width=".42859" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="198.44055" y="106.13015" fill="#ffffff" font-family="sans-serif" stroke-width=".42859">04</tspan></text>
<text x="297.15726" y="238.72516" fill="#ffffff" font-family="sans-serif" font-size="17.144px" letter-spacing="0px" stroke-width=".42859" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="297.15726" y="238.72516" fill="#ffffff" font-family="sans-serif" stroke-width=".42859">02</tspan></text>
<text x="365.23566" y="220.08516" fill="#ffffff" font-family="sans-serif" font-size="17.144px" letter-spacing="0px" stroke-width=".42859" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="365.23566" y="220.08516" fill="#ffffff" font-family="sans-serif" stroke-width=".42859">03</tspan></text>
            </g>
            
        </svg>
  
</div>


<section class="text-section">

  <div class="text-content">
    <p>
      Na požadavek topiče K5 k odběru páry postupuje dále takto.
      Na trojčeti provedeme uzavření ochozu 02 a následně otevřeme ochoz 04.
    </p>
  </div>

  <div class="text-content">
      <p>
        Poté otevřeme prostřední elektrický ventil na schématu č.3 a horní elektrický ventil
        na schématu č.4.
      </p>
    </div>

    <div class="text-content">
        <p>Nakonec uzavřeme ochozy 03 a 04.
        </p>
      </div>

      <div class="text-content">
          <p>
            Před kotlem K5 (u inmatu) zapneme RS3 a protože jsem předtím
            nastavili ovladání RS3 do automatu a zapnuli hlavní vypínač, 
            RS3 tím hned najede do automatického provozu a nyní můžeme regulovat
             odběr z počítače na velíně podle požadavků topiče K5.
            </p>
        </div>


</section>

<nav class="navBar">

    <div routerLink="../otevreni-rs" class="zpet">
        <a class="backBtn">Zpět</a>
    </div>
    <div routerLink="../kontrola-two" class="dale">
        <a class="nextBtn">Dále</a>
    </div>
  
  </nav>